@use '../visual/colors/colors' as colors;
@use '../visual/fonts/fonts' as fonts;

/* general */
body {
    background-color: colors.$bkg;
    
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.loginpage {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    @include fonts.main;

    /* header */
    .fixed_header {
        position: fixed;
        margin: 0;
        padding: 0;
        height: 7%;
        width: 100%;
        z-index: 9;

        background-color: colors.$bkg;

        display: flex;
        align-items: center;
        justify-content: center;

        .fixed_header__logo {
            height: 50px;
            width: auto;
        }

        .app_name {
            margin-left: 1%;

            color: colors.$text;

            font-weight: bold;
            font-size: 2em;
        }
    }

    .loginbar {
        position: absolute;
        margin: 0;
        padding: 0;
        height: 14%;
        width: 100%;
        z-index: 8;

        background-color: colors.$primary_dark;

        .loginbar__text {
            position: absolute;
            margin-top: 63px;
            margin-left: 2.5%;

            background-color: colors.$primary_dark;
            color: colors.$bkg;

            font-weight: bold;
            font-size: 2em;
        }
    }

    /* main part */
    .main_part {
        position: absolute;
        top: 8em;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}